:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Fontes */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Cabourg Fonts */
  --font-cabourg: var(--font-cabourg-regular);
  --font-cabourg-bold: var(--font-cabourg-bold);
  
  /* Inter Fonts */
  --font-inter: var(--font-inter-variable-regular);
  --font-inter-italic: var(--font-inter-variable);
  
  /* Metropolis Fonts */
  --font-metropolis: var(--font-metropolis-regular);
  --font-metropolis-semibold: var(--font-metropolis-semibold);
  
  /* Roboto Fonts */
  --font-roboto: var(--font-roboto-regular);
  --font-roboto-medium: var(--font-roboto-medium);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}